*
{
	margin: 0;
	padding: 0;
	overflow: auto;
}
html
{
	background-color: #333333;
}
nav
{
	background-color: #1F464D;
	padding: 0 min(10em, 10vw);
}
nav ul
{
	float: right;
}
nav li
{
	float: left;
}
nav li a
{
	display: block;
	padding: 1em;
	margin-left: 1em;
}
nav li a:hover
{
	background-color: DarkGreen;
}
section#section-main
{
	padding: min(10em, 10vw);
}
#homepage-section-first
{
	padding-bottom: 10em;
}
#homepage-section-second
{
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2em;
}
article#article--homepage
{
	float: left;
	width: 50%;
}
article#article--homepage p
{
	padding: 2em 0;
}
article#article--homepage button
{
	background-color: #3697A7;
	border: none;
	padding: 0.2em 3em;
	overflow: hidden;
	cursor: pointer;
}
img#img--homepage--me
{
	float: right;
	width: 40%;
}
.div--homepage--column
{
	background-color: #3697A7;
	width: 30%;
}
@media (max-width: 980px)
{
  .div--homepage--column
	{
		width: calc(50% - 2em/2);
	}
}
@media (max-width: 500px)
{
  .div--homepage--column
	{
		width: 100%;
	}
}
.div--homepage--column-picture
{
	position: relative;
}
.div--homepage--column img
{
	width: 100%;
}
.div--homepage--column--image-frame
{
	width: calc(100% - 2*1.5em - 2*1px);
	height: calc(100% - 2*1em - 2*1px);
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid white;
	margin: 1em 1.5em;
}
.div--homepage--column article
{
	padding: 2em 1em;
}
.div--homepage--column article p
{
	padding-top: 1em;
}
footer
{
	padding: 1em min(10em, 10vw);
}