*
{
	margin: 0;
	padding: 0;
}
html
{
	background-color: #333333;
}
nav
{
	background-color: #1F464D;
	padding: 0 5em;
	overflow: auto;
}
nav ul
{
	overflow: hidden;
	float: right;
}
nav li
{
	float: left;
}
nav li a
{
	display: block;
	padding: 1em;
	margin-left: 1em;
}
nav li a:hover
{
	background-color: DarkGreen;
}
#section-main
{
	padding: 5em;
}
footer
{
	padding: 1em 5em;
}