*
{
	margin: 0;
	padding: 0;
	overflow: auto;
}
html
{
	background-color: #333333;
}
nav
{
	background-color: #1F464D;
	padding: 0 min(10em, 10vw);
}
nav ul
{
	float: right;
}
nav li
{
	float: left;
}
nav li a
{
	display: block;
	padding: 1em;
	margin-left: 1em;
}
nav li a:hover
{
	background-color: DarkGreen;
}
section#section-main
{
	padding: min(10em, 10vw);
}
#homepage-section-first
{
	padding-bottom: 10em;
}
#homepage-section-second
{
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
}
article#article--homepage
{
	float: left;
	width: 50%;
}
article#article--homepage p
{
	padding: 2em 0;
}
article#article--homepage button
{
	background-color: #3697A7;
	border: none;
	padding: 0.2em 3em;
	overflow: hidden;
	cursor: pointer;
}
img#img--homepage--me
{
	float: right;
	width: 40%;
}
.div--homepage--column
{
	background-color: #3697A7;
	width: 30%;
}
.div--homepage--column img
{
	width: 100%;
}
.div--homepage--column article
{
	padding: 2em 1em;
}
.div--homepage--column article p
{
	padding-top: 1em;
}
footer
{
	padding: 1em min(10em, 10vw);
}