*
{
	margin: 0;
	padding: 0;
	overflow: auto;
}
html
{
	background-color: #333333;
}
nav
{
	background-color: #1F464D;
	padding: 0 10em;
}
nav ul
{
	float: right;
}
nav li
{
	float: left;
}
nav li a
{
	display: block;
	padding: 1em;
	margin-left: 1em;
}
nav li a:hover
{
	background-color: DarkGreen;
}
section#section-main
{
	padding: 10em;
}
article#article--homepage
{
	float: left;
	width: 50%;
}
article#article--homepage p
{
	padding: 2em 0;
}
article#article--homepage button
{
	background-color: #3697A7;
	border: none;
	padding: 0.2em 3em;
	overflow: hidden;
	cursor: pointer;
}
img#img--homepage--me
{
	float: right;
	width: 40%;
}
footer
{
	padding: 1em 10em;
}